#pot{
	display:none;
}

#contact-container{
	padding-top: 200px;
}

#social-left{
	display:none;
}

.contact-title{
	color:#bf0000;
	margin-bottom: 20px;
}

/* Fixes width and display set for contact panel on home page for small screens */
#contact-sidebar{
	display:block;
	width:auto;
}

#contact-form{
	margin-top: 0px; 
	margin-bottom: 100px; 
	border-radius: 5px;
	padding:25px;
}

#contact-form input{
	border: 1px solid #00234C;
}

#contact-form textarea{
	border: 1px solid #00234C;
}

.submit{
	background-color:#bf0000;
	color:white;
	border:2px solid white;
}

.submit:hover{
	background-color: white;
	color:#bf0000;
	border:2px solid #bf0000;
}

@media screen and (max-width: 1007px){
	#contact-sidebar{display:none;}
	#contact-container{margin-left:10%;}
}

@media screen and (max-width:992px){
	#contact-container{margin-left:0;}
}



