#faq-container{
	padding-top:250px;
}

h4.panel-title{
	background-color:white;
}

#accordian.panel.panel-default{
	padding:10px;
	background-color: white !important;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	border-left:none;
	border-right:none;
	font-size: 1.1em;
}

#accordian .panel.panel-default a{
	text-decoration: none;
}

#accordian .panel-body{
	width:100%;
	color:#00234C;
}

.panel.panel-default{
	background-color: rgb(240, 240, 240);
}

.panel.panel-defalut a{
	text-decoration: none;
}

.faq-title{
	color:#bf0000;
	margin-bottom: 50px;
}

.question{
	color:#00234C;
	font-weight: bold;
}

.answer{
	color:#bf0000;
	height:100%;
	font-weight: bold;
}

/* Smooth bootstrap panel display */
.panel-collapse.collapsing {
    transition: height .1s;
}