#faq-container{
	padding-top:200px;
}

#social-left{
	display:none;
}

/* Fixes width and display set for contact panel on home page for small screens */
#contact-sidebar{
	display:block;
	width:auto;
}

h4.panel-title{
	background-color:white;
}

.fade-in.question{
	margin-right:10px;
}

#question{
}

div.panel.panel-default{
	margin-top:10px;
	border:none;
}

#accordian.panel.panel-default{
	padding:10px;
	background-color: white !important;
	/*border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;*/
	border-left:none;
	border-right:none;
	font-size: 1.1em;
}

#accordian.panel.panel-default a{
	text-decoration: none;
}

#accordian .panel-body{
	width:100%;
	color:#00234C;
}

.panel.panel-default{
	background-color: rgb(240, 240, 240);
}

.panel.panel-default a{
	text-decoration: none !important;
}

.faq-title{
	color:#bf0000;
	margin-bottom: 50px;
}

.question{
	color:#00234C;
	font-size: 1.2em;
	font-weight: bold;
}

.answer{
	color:#bf0000;
	height:100%;
	font-size: 1.2em;
	font-weight: bold;
}

/* Smooth bootstrap panel display */
.panel-collapse.collapsing {
    transition: height .1s;
}

@media screen and (max-width: 1007px){
	#contact-sidebar{display:none;}
	#faq-container{margin-left:0;}
}

@media screen and (max-width:992px){
	#faq-container{margin-left:0;}
}