#modalTitle{
	border-bottom:1px solid #00234C;
	color:#00234C;
	width:100%;
	text-align: center;
}

.remodal{
	background: #F8F8F8;
}

#modalDesc{
	text-align: left;
	color:#00234C;
}

#ok-btn{
	background-color: #00234C;
	color:white;
	font-weight: bold;
}

#header-container{
	display:none;
}

#social-left{
	display:none;
}

#footer-container{
	display:none;
}